.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3b82f6;
    padding: 1rem;
    color: white;
}
  
.mainContent {
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    background-color: #f3f4f6;
    min-height: 100vh;
}
  
.leftColumn,
.rightColumn {
    flex: 1;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  

.leftColumn {
    background-color: white; 
}
  
.rightColumn {
    background-color: #e5e7eb;
}
  
.formTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
}
  